html {
    font-size: 16px;
}

/* extra light */
@font-face {
    font-family: 'IBMPlexSansKR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-ExtraLight.woff')
        format('woff');
    font-weight: 200;
    font-style: normal;
}

/* light */
@font-face {
    font-family: 'IBMPlexSansKR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Light.woff')
        format('woff');
    font-weight: 300;
    font-style: normal;
}

/* normal */
@font-face {
    font-family: 'IBMPlexSansKR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff')
        format('woff');
    font-weight: 400;
    font-style: normal;
}

/* text */
@font-face {
    font-family: 'IBMPlexSansKR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Text.woff')
        format('woff');
    font-weight: 500;
    font-style: normal;
}

/* medium */
@font-face {
    font-family: 'IBMPlexSansKR-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Medium.woff')
        format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-SemiBold.woff')
        format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Bold.woff')
        format('woff');
    font-weight: 800;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
